.container .text{
    background-color: yellow;
    color:red;
    font-size: 20px;
    text-align:center;
}

p{
    background-color: blue;
    color: white;
    font-size: 30px;
}

.container_2 .one{
    color:aquamarine;
    font-size: 40px;
    background-color: blueviolet;
}

.container_2 .two{
    color:brown;
    background-color: aliceblue;
    font-size: 45px;
}